<% @customers.each do |customer| %>
  <% if customer.is_deleted == false %>
    <div class="col-sm-4 mt-5">
      <div class="card bg-light pt-3">
        <%= link_to customer_path(customer), class: "mx-auto" do %>  <!--, remote: true-->
          <%= attachment_image_tag customer, :image, fallback: "illust_human.jpg", class: "rounded-circle" %>
        <% end %>
        <div class="card-body text-center">
          <h5 class="card-title"><%= customer.name %></h5>
          <p class="card-text">
            投稿数：<br>
            <% if customer.country == 0 %>
              山梨県民
            <% else %>
              移住に興味のある方
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>