<div class="row text-center pt-5">
  <div class="col-sm-8">
    <h2>ЁЯНСф╝ЪхУбф╕АшжзЁЯНС</h2>
  </div>
  <div class="col-sm-4">
    <p>цдЬч┤вчкУуВТшинч╜о</p>
  </div>
</div>

<div class="card-deck p-5">
  <div class="row">
    <%= render 'public/customers/customers', locals: {customers: @customers} %>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="text-center mx-auto mb-3">-->
<!--    %= paginate @customers %>-->
<!--  </div>-->
<!--</div>-->

<!--чДбщЩРуВ╣уВпуГнуГ╝уГлуВТшинч╜о-->

<div id="mask" class="hidden"></div>
<div id="modal" class="hidden">
  <p>уГвуГ╝уГАуГлуВжуВгуГ│уГЙуВж<p>
  <div id="close">щЦЙуБШуВЛ</div>
</div>