<div id="typing">
  <div id="content">
    フッ軽IJUについて<br>
    お勉強しよう！
  </div>
  <p id="text">詳細は画面をクリック</p>
</div>
<%= link_to 'TOPページに戻る', root_path %>


<%= javascript_include_tag 'homes_about.js' %>