<div id="splash">
  <div id="splash_logo">
    <%= image_tag 'intro.png', class: "fadeUp" %>  <!--<img src="img/loading.svg" alt="" class="fadeUp">-->
  </div>
</div>
<div id="container">
  <h1>Public::Homes#top</h1>
  <p>Find me in app/views/public/homes/top.html.erb</p>
</div>