/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


// ここから　aboutページレイアウト
// タイピング
 #typing {
  height: 700px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(illust_grape.jpg);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

#typing div {
  font-size: 50px;
}

#typing p {
  margin-top: 100px;
}

// タブメニュー
.tab-menu {
  font-size: 14px;
  margin: 200px auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 8px 0;
  color: purple;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu li a.active {
  background-color: purple;
  color: #fff;
}

.menu li a:not(.active):hover {
  transition: 0.4s;
}

.content.active {
  background-color: purple;
  color: #fff;
  font-size: 20px;
  min-height: 300px;
  padding: 12px;
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.content {
  display: none;
}

.about-bottom {
  margin-top: 100px;
  margin-right: 20px;
  display: flex;
}

.about-bottom img {
  margin-top: 150px;
}

// ここまで　aboutページレイアウト